{% extends 'base.html' %}

{% block content %}
    <h2>Un Assigned Tickets</h2>
    <style>
        .card-title, .card-text {
            color: black;
        }
        .near-deadline {
            color: yellow;
        }
        .passed-deadline {
            color: red;
        }
        .needs-answer {
            color: red;
            font-size: 1.5em;
        }
    </style>
    {% if un_assigned_tickets %}
        <ul>
            {% for ticket in un_assigned_tickets %}
                {% with time_until_deadline=ticket.time_until_deadline %}
                    <div class="card" style="cursor: pointer;"
                         onclick="window.location.href = '{% url 'ticket' ticket.uid %}';">
                        <div class="card-body">
                            <h5 class="card-title">{{ ticket.title }}{% if not ticket.have_answer %} <span class="needs-answer">*</span>{% endif %}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <p class="card-text">Status: {{ ticket.status }}</p>
                            <p class="card-text">Assigned to: {{ ticket.assigned_to }}</p>
                            <p class="card-text" style="{% if time_until_deadline.days < 0 %}color: red;{% elif time_until_deadline.days <= 3 %}color: yellow;{% endif %}">
                                time until deadline: {{ time_until_deadline }}
                            </p>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
        </ul>
    {% else %}
        <p>No un assigned tickets found.</p>
    {% endif %}
{% endblock content %}